.top {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -8px;
  margin-top: 2px;
  left: 0;
  background-color: white;
  transform: scale(1);
  transform-origin: center center;
  border-radius: 2px;
  transition: width 0.2s ease-in-out;
}

a {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
}
a.active::after {
  width: 100%;
}
